.bg-1 {
    min-height: 100%;
    background: linear-gradient(0deg,rgba(0,0,0,0.31),rgba(0,0,0,0.31)),url("../images/foodloopz-background.webp");
}

.overlay {
    position: relative;
}

.overlay:before {
    content: '';
    background: rgba(0, 0, 0, 0.51);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@font-face {
    font-family: 'Trebuchet';
    src: url('../fonts/trebuc.ttf') format('truetype');
}

.font-trebuchet {
    font-family: 'Trebuchet', sans-serif;
}

li.nav-item a {
    font-family: 'Trebuchet', sans-serif;
    color: white;
}

.btn {
    font-family: 'Trebuchet', sans-serif;
}